Server={{ zabserver }}
Hostname={{ ansible_fqdn }}
LogFile=/var/log/zabbix/zabbix_proxy.log
LogFileSize=2
DebugLevel=3
PidFile=/var/run/zabbix/zabbix_proxy.pid
DBName={{mysqldb}}
DBUser={{mysqluser}}
DBPassword={{mysqlpass}}
StartDiscoverers=10
StartPollers=50
StartIPMIPollers=1
StartTrappers=5
StartPingers=10
StartHTTPPollers=5
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
Timeout=4
CacheSize=256M
ExternalScripts=/usr/lib/zabbix/externalscripts
FpingLocation=/usr/sbin/fping
LogSlowQueries=3000
